.mytime-header {
    background-color: #f3f3f3;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
}

.nav-link {
    text-decoration: none;
    color: #0070d2;
    font-weight: 500;
}

.nav-link:hover {
    text-decoration: underline;
}

.title {
    color: #16325c;
}